@import url(constants.css);

/*dish main page*/

/*-------------STYLE----------------*/
#dishes > article {
    width: 540px;
    margin: 0 auto;
}

#dishes > header {
    width: 100%;
}

#dishes > article img:first-of-type {
    margin-top: 16px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#dishes > article > .composition > *{
    text-align: justify;
}

#dishes > article > form {
    width: 100%;
}

#dishes > article > form > button {
    width: 100%;
    padding: 0;
}

#dishes {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;     left: 0;
    width: 100vw;   height: 100vh;
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(5px);
}

#dishes > article {
    padding: 2em;
    background-color: white;
    border-radius: var(--default-border-radius);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*----------------------------------*/


/*--------------LAYOUT--------------*/
#dishes > article {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(6, auto);
}

#dishes > article > .close {
    grid-column: 2; grid-row: 1;
    width: 100%;
}

#dishes > article > a:nth-child(2) {
    grid-column: 1/3; grid-row: 2;
}

#dishes > article > header {
    grid-column: 1; grid-row: 3;
}

#dishes > article > .rate {
    grid-column: 2; grid-row: 3;
}

#dishes > article > .price {
    grid-column: 1/3; grid-row: 4;
}

#dishes > article > .composition {
    grid-column: 1/3; grid-row: 5;
}

#dishes > article > form {
    grid-column: 1/3; grid-row: 6;
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1em;
}

#dishes > article > form > input {
    grid-column: 1; grid-row: 1;

}

#dishes > article > form > button{
    grid-column: 2; grid-row: 1;
}/*----------------------------------*/


