/*constants*/
@import url(constants.css);

form, form > *{
    width: 100%;
    justify-content: center;
}

form * {
    border-radius: var(--default-border-radius);
    padding: 0.5em;
    margin: 0.5em 0 ;
    justify-content: center;
}

button {
    padding: 1em;
    background-color:var(--dark-bg-color);
    border: none;
    cursor: pointer;
}

input, textarea {
    background-color: var(--light-bg-color);
    border: 2px solid var(--dark-bg-color);
    display: block;
    box-sizing: border-box;
}

input[name=ingredients] {
    height: 100px;
}

#search_bar input {
    opacity: 50%;
}

input:focus, button, textarea {
    outline: none;
}

/*-----------form pages----------------*/
#user_forms > *, #owner_forms > * {
    margin: 0 auto;
}

#user_forms, #owner_forms {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;     left: 0;
    width: 100vw;   height: 100vh;
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(5px);
}

#user_forms > article, #owner_forms > article {
    padding: 3em;
    background-color: white;
    border-radius: var(--default-border-radius);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#user_forms > article {
    width: 25%;
}

#owner_forms > article {
    width: 40%;
}

#user_forms > article > header, #owner_forms > article > header {
    margin-bottom: 1.5em;
}

#user_forms > article > form, #owner_forms > article > form { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

#user_forms > article > form > :nth-last-child(2), #owner_forms > article > form > :nth-last-child(2) { /*Cancel option*/
    width: auto;
}

#user_forms > article > form > button, #owner_forms > article > form > button {
    width: 40%;
}
