@import url(constants.css);
@import url(dishes_list.css);
@import url(reviews.css);

/*restaurant article in main page*/
/*-----------STYLE---------------*/
#restaurants > article > .rate {
    display: none;
}

#restaurants > article > .avgPrice {
    display: none;
}

#restaurants > article > a:nth-child(2) > img {
    width: 100%;
    height: 400px;
}


/*dishes*/
#restaurants > article > #dishes {
    margin: 0;
}

#restaurants > article > #dishes > header {
    display : none;
}

/*order form in restaurant main page*/
#restaurants > article > #orders > form > * {
    margin: 0;
}

#restaurants > article > #orders {
    background-color: var(--light-bg-color);
    border-radius: var(--default-border-radius);
    padding: 1em;
}

#restaurants > article > #orders > form > div {
    border-top: dashed 2px #000;
    margin-top: 2em;
    border-radius: 0px;
}

#restaurants > article > #orders > form > label,  
#restaurants > article > #orders > form > textarea, 
#restaurants > article > #orders > form > button {
    margin-top: 2em;
}

#restaurants > article > #orders > form > label::before {
    content: '\25CF';
}

#restaurants > article > #orders > form > .quantity::before, #restaurants > article > #orders > form > .quantity::after{
    content: none;
}

#restaurants > article > #orders > form > button[name="submit"]{
    background-color: white;
}

#restaurants > article > #orders > form > button[name="eliminate"]{
    padding: 0;
    margin-top: 1em;
}

#restaurants > article > #orders > form > .price, #restaurants > article > #orders > form > .quantity {
    width: 50%;
}/*------------------------------------*/



/*---------------LAYOUT----------------*/
#restaurants > article {
    display: grid;
    gap: 30px 5px;
    align-items: start;
    grid-template-columns: 10% 1fr 17.5%;
    grid-template-rows: repeat(4, auto);
}

#restaurants > article > header {
    grid-column: 1/4; grid-row: 1;
}

#restaurants > article > a:nth-child(2) {   /*Restaurant image*/
    grid-column: 1/4; grid-row: 2;
}

#restaurants > article > .info {
    grid-column: 1; grid-row: 3;
}

#restaurants > article > #dishes {
    grid-column: 2; grid-row: 3;
}

#restaurants > article > #orders {
    grid-column: 3; grid-row: 3;
}

#restaurants > article > #reviews {
    grid-column: 1/4; grid-row: 4;
    width: 100%;
}

/*order form in restaurant main page*/
#restaurants > article > #orders > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#restaurants > article > #orders > form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#restaurants > article > #orders > form > .quantity{
    background-color: white;
    text-align: center;
}

/*----------------------------------*/
