/*-----------user orders-------------*/
body {
    --dark-bg-color: #C4C4C4;
    --light-bg-color: #E7E7E7;
    --star-color: #F8CF66;
    --default-border-radius: 15px;
}

/*-----------------STYLE------------*/
#orders > article{
    padding: 1em;
    margin-top: 3em;
    border: solid 3px var(--dark-bg-color);
    border-radius: var(--default-border-radius);
}

#orders > article img:first-of-type {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#orders > article > a:nth-last-child(2),
#orders > article > a:nth-last-child(1),
#orders > article > div > article > a{
    width: auto;
    background-color: var(--dark-bg-color);
    border-radius: var(--default-border-radius);
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
}

#orders > article > p:first-of-type {
    text-align: right;
}/*--------------------------------------*/


/*---------------LAYOUT------------------*/
#orders > article{
    display: grid;
    gap: 5px 15px;
    grid-template-columns: 300px 1fr auto auto;
    grid-template-rows: 2em auto 2em 2em;
    align-items: center;
}

#orders > article > header {
    grid-column: 2/4; grid-row: 1;
}

#orders > article > a { /*restaurant image*/
    grid-column: 1; grid-row: 1/4;
}

#orders > article > div {
    grid-column: 2/5; grid-row: 2/3;
    align-self: flex-start;
}

#orders > article > p:first-of-type {   /*"subtotal"*/
    grid-column: 3; grid-row: 3;
}

#orders > article > .price {
    grid-column: 4; grid-row: 3;
}

#orders > article > .date {
    grid-column: 4; grid-row: 1;
}

#orders > article > .state {
    grid-column: 1; grid-row: 4;
}

#orders > article > a:nth-last-child(2) {   /*rate option*/
    grid-column: 3; grid-row: 4;
}

#orders > article > a:nth-last-child(1) {   /*reorder option*/
    grid-column: 4; grid-row: 4;
}

#orders > article > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#orders > article > div > article {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

#orders > article > div > article> :first-child {
    flex-grow: 1;
}
