/*constants*/
@import url(constants.css);

/*font, align, decoration*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lora&display=swap');

html {
    box-sizing: border-box;
}

body, main {
    margin: 0 auto;
    background-color: white;
}

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: medium;
    color: inherit;  
    background-color: inherit; 
    padding: 0;
    margin: 0;
}

body > :not(footer) {
    margin: 0 10%;
}

body > header {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#menu a {
    font-size: large;
}

p {
    text-align: justify;
}

li {
    list-style-type: none;
}

a {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

nav > header, section > header, form > header {
    text-align: center;
}

img {
    object-fit: cover;
}

i {
    margin: 0; 
    padding: 0; 
    display: inline;
}/*----------------------------------*/

/*body and footer*/
body{ 
    height:100vh; 
}

body > :nth-last-child(2){
    margin-bottom: 64px;
}

body{ 
  display:flex; 
  flex-direction:column; 
}

body ul{
    margin-top: 1em;
}

body > main > nav li:hover{ 
    background-color: var(--gray-hover-color);
}

body li:hover a{
    color: white;
}

footer {
    padding: 1em;
    margin-top: auto;
    font-size: smaller;
}
/*----------------------------------*/


/*background-color*/ 
.dark-bg-color, body > main > nav li, footer, #restaurants.my_restaurants_page + a {
    background-color: var(--dark-bg-color);
}

.light-bg-color, .composition, #favorites > #restaurants, #favorites > #dishes  {
    background-color: var(--light-bg-color);
    padding: 1em;
}/*----------------------------------*/


/*radius*/
.dark-bg-color, .light-bg-color,img, body > main > nav li, #restaurants.my_restaurants_page + a, .composition, #favorites > #restaurants, #favorites > #dishes { 
    border-radius: var(--default-border-radius);
}

footer img, header img , img.profile_photo {
    border-radius: 0%;
}/*----------------------------------*/


/*main header*/
body > header {
    border-bottom: 1px solid var(--dark-bg-color);
    padding-bottom: 0.5em;
    margin-bottom: 48px;
}

body > header img:first-of-type {
    width: auto;
    height: auto;
    max-width: 300px;
    margin: auto;
    display: grid;
}

/*sign*/
body > header > div:nth-child(2) > * {
    text-align: center;
}

/*search bar*/
body > header > div:nth-child(3) {
    margin: 0 10%;
}

body > header > div:nth-child(3) img {
    display: none;  /*--TODO*/
}

body > header > div:nth-child(3) input {
    padding: 0.5em 0;
    font-size:x-small;  
    width: 100%; 
}/*----------------------------------*/


/*sidebar menu*/
#menu > div {
    position: fixed;
    left:-250px;
    width: 250px;
    height: 100%;
    background-color: var(--second-color);
    transition: all 1s ease;
}

#menu > div > ul a{
    display: block;
    color: white;
}

#menu #hamburger{
    display: none;
}

#menu > label > * {
    position: fixed;
    cursor: pointer;
}

#menu > label > i:first-child{
    background-color: transparent;
    position:absolute;
    left: 40px;
    top: 25px;
    font-size: xx-large;
}

#menu > label > i:nth-child(2){
    z-index: 1111;
    left: -45px;
    top: 20px;
    font-size: xx-large;
    background-color: var(--second-color);
    padding: 4px 9px;
    transition: all 1s;
}

#hamburger:checked ~ div{
    left:0;
}

#hamburger:checked ~ label > i:first-child{
    opacity: 0;
    pointer-events: none;
}

#hamburger:checked ~ label > i:nth-child(2){
    left: 195px;
}

#hamburger:checked ~ body > :not(footer){
    margin-left:300px;
}

#menu ul > li img:first-of-type {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.profile_photo {
    width: 20%;
}

#menu > div > ul > li:nth-child(2) a{
    font-size:x-large;

}

#menu > div > ul > li:not(:last-child){
    font-weight: lighter;
}

#menu > div > ul > li:last-child{
    text-align: right;
}

#menu ul li:not(:nth-child(1),:nth-child(2), :last-child):hover{
    font-weight: bold;
}

#menu i {
    font-size: x-large;
    padding-right: 5px;
}
/*----------------------------------*/


/* sign */
body > header > div:nth-child(2) {
    margin: 0 32px;
}

body > header > div:nth-child(2) > * {
    padding: 0.3em 1em;
    background-color: var(--dark-bg-color);
    border-radius: var(--default-border-radius);
}/*----------------------------------*/


/*categories*/
body > main > nav {   
    margin-bottom: 3em;
}

body > main > nav li {
    text-align: center;
    padding: 1em 0;
}

body > main > nav:last-child li { /*index page*/
    padding: 3em 0;
}/*----------------------------------*/


/*restaurants and dishes*/
#restaurants > article > div.edit_options, #dishes > article > .edit_options {
    display: none;
}

.rate::after {
    content: ' \2605';      
    color : var(--star-color);
    font-size: larger;
}

.price::after {
    content: ' €';
}

#restaurants > article > .avgPrice, #dishes > article > header, #dishes > article > .price {
    margin-left: 0.5em;
}

#restaurants > article > .rate, #dishes > article > .rate {
    margin-right: 0.5em;
}

#restaurants > article > .rate + i, #dishes > article > .rate + i {
    color: var(--like-button-color);
}

#restaurants > article > #reviews > article > div.reply_form {
    display: none;
}

#restaurants > article > #reviews > article > div.reply_form > form > button{
    width: auto;
    padding: 0.5em 2em;
}
/*----------------------------------*/


/* dish */
#dishes > article > header > * {
    text-align: left;
}

.close::after{
    content:'\26D2';
    padding: 8px;
    color: var(--dark-bg-color);
    background-color: var(--light-bg-color);  
    border-radius: 1em;
}/*----------------------------------*/


/* dish main page */
#dishes > article > .composition > :nth-child(3) {
    margin-top: 1em;
}

#dishes > article > .composition{
    margin: 1em 0;
}/*----------------------------------*/


/* restaurant main page */
.info > *{
    text-align: left;
}

.info p {
    margin-bottom: 1em;
}

div.subtotal {
    border-top: 5px dashed var(--dark-bg-color);
}/*----------------------------------*/


/* reviews */
.rate {
    text-align: right;
}

.user::before {
    content: '@';
}

#reviews .user::after {
    content: ' said:';
}

#reviews > article > div:first-of-type{  /*User Comment*/
    border-radius: var(--default-border-radius);
    border: 2px solid var(--dark-bg-color);
}

#reviews > article > div:nth-of-type(2){  /*Reply*/
    border-radius: var(--default-border-radius);
    background-color: var(--light-bg-color);
    padding: 1em;
    min-height: 8em;
    margin-left: 4em;
    align-items: center;
}

#reviews > article > div:nth-of-type(2) > * {
    text-align: left;
    margin-top: 0.5em;
}

#reviews .profile_photo {
    border-radius: 20px;
}/*----------------------------------*/


/* favorites page */
#favorites {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

#favorites > #dishes, #favorites > #restaurants{
    padding: 2em;
    row-gap: 30px;
}

#favorites > #dishes > article, #favorites > #restaurants > article{
    margin-bottom: 0;
    margin-top: 0;
}/*----------------------------------*/


/*order form in restaurant main page and user orders page*/
#orders .price {
    text-align: right;
}/*----------------------------------*/


/*user and restaurant orders*/
.quantity::after {
    content: 'x';
    padding-right: 0.5em;
}

.date {
    color: grey;
}

#orders > article > p:first-of-type {
    font-weight: bold;
}

.quantity::before {
    content: '\25CF  ';
}/*----------------------------------*/

/*---user orders------*/
#user_orders > article{
    padding: 1em;
    margin-top: 3em;
    border: solid 3px var(--dark-bg-color);
    border-radius: var(--default-border-radius);
    background-color: var(--light-bg-color);
}

#user_orders > article img:first-of-type {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#user_orders > article > a:nth-last-child(2),
#user_orders > article > a:nth-last-child(1),
#user_orders > article > div > div > a{
    width: auto;
    background-color: var(--dark-bg-color);
    border-radius: var(--default-border-radius);
    padding: 0.5em;
    text-align: center;
    font-weight: 500;
}

#user_orders > article > p:first-of-type {
    text-align: right;
}/*--------------------------------------*/


/*------restaurant-orders----------------*/
#restaurant_orders > article{
    width: 100%;
}

#restaurant_orders > article > a:nth-child(2) > img {
    width: 100%;
    height: 300px;
}

#restaurant_orders > article > #orders > header > * {
    text-align: left;
}

#restaurant_orders > article > #orders > article{
    padding: 1.5em;
    border: solid 3px var(--dark-bg-color);
    border-radius: var(--default-border-radius);
}

#restaurant_orders > article > #orders > article > select {
    width: min-content;
}


/*-------my-restaurants page*/
#my_restaurants > article > header > *{
    text-align: left;
}

a {
    display: inline;
    width: auto;
}

#my_restaurants > article img:first-of-type {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#my_restaurants > article > a:nth-last-child(1), #my_restaurants > article > a:nth-last-child(2) {
    padding: 1em;
    background-color: var(--dark-bg-color);
    border-radius: var(--default-border-radius);
}

#my_restaurants > .new_restaurant {  /*add new restaurant option*/
    margin: 0 auto;
    text-align: center;
    padding: 1.5em 3em;
    background-color: var(--dark-bg-color);
    border-radius: var(--default-border-radius);
}
#my_restaurants > article {
    padding: 1em;
    margin-top: 3em;
    border: solid 3px var(--dark-bg-color);
    border-radius: var(--default-border-radius);
    background-color: var(--light-bg-color);
}/*-----------------------------------------*/

div.edit_options {
    display: none;
}